<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link href="https://unpkg.com/prismjs/themes/prism-tomorrow.css" rel="stylesheet"/>
  <!-- path to stylesheet in _src output dir -->
  <link rel="stylesheet" href="{{ relative_path }}static/css/styles.css">
  <title>{{ tab_title }}</title>
</head>
<body class="bg-dark">
    <!--start of outer container covering full screen height via min-vh-100-->
    <div class="container d-flex flex-column justify-content-between min-vh-100 bg-dark">
      <!--start of inner container -->
      <div>
      <header>
        <hr class="text-white">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Andrew David Brown</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="#">Blog</a>
              </div>
            </div>
          </div>
        </nav>
        <hr class="text-white py-1">
        <div class="text-center container my-3">
          <h1><em>{{ title }}</em></h1>
          {% if page.url != "/" %}
          <p>{{ page.date | postDate }}</p>
          {% endif %}
        </div>
      </header>
      <main>
        {%- block main -%}{%- endblock -%}
      </main>
      </div><!--end of inner container -->
      <!--footer is pushed down to base of page and any space-between is here-->
      <footer class="text-center mt-auto">
        <hr class="text-white">
        <p class="text-white"><em><small>&copy; {% year %} Andrew Brown</small></em></p>
    </footer>
    </div><!--end of outer container -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    </body>
    </html>